body, header, nav, h1, h2, h3, h4, div, p, ul, ol, li, form, fieldset { 
	margin: 0; padding: 0;
}

/*
body {
	text-align: center;
}

#wrapper {
	margin: 0 auto;
	text-align: left;
	width: 1024px;
}
	*/

/* =anchor */
a:link { color: #04c; }
a:hover { color: #37f; }


input[type=submit], input[type=text], input[type=search], input[type=password], textarea {
	border: 1px solid #777;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

input[type=submit] {
	color: #fff;
	background: #888;
    background: -moz-linear-gradient(top, #aaa, #888);
    background: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#888));
}
form input[type=submit]:hover { background: #bbb; }


.clearer { height: 0; font-size: 0; text-indent: -10000px; clear: both; }
